/* SIDENAV */
.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightslategrey;
  border-right: 7px solid #0a1010;
}

.sidenav a {
  color: whitesmoke;
  margin-left: 24px;
  padding: 12px;
  text-decoration: none;
  font-family: courier new;
  letter-spacing: 2px;
  display: block;
}

.sidenav a:hover {
  background-color: #0a1010;
  color: white;
}

.sidenav h1 {
  font: bold 28px helvetica;
  color: whitesmoke;
  margin-left: 6px;
  letter-spacing: 3px;
}

.sidenav p {
  font-style: italic;
  font-family: courier new;
  color: whitesmoke;
  margin-left: 6px;
  letter-spacing: 3px;
}


/* MAIN CONTENT */

body {
  background-color: whitesmoke;
}

.content {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 750px;
  background-color: whitesmoke;
}

.content h1 {
  font: bold 28px helvetica;
  color: #0a1010;
  margin-left: 4px;
  letter-spacing: 2px;
}

.content h2 {
  font: bold 20px helvetica;
  color: #0a1010;
  margin-left: 4px;
  letter-spacing: 2px;
}

.content t1 {
  font: bold 16px helvetica;
  color: whitesmoke;
  letter-spacing: 4px;
}

.content p {
  font-family: courier new;
  line-height: 32px;
  color: #0a1010;
  letter-spacing: 1px;
}

.content p2 {
  font-family: courier new;
  line-height: 20px;
  color: #0a1010;
  letter-spacing: 1px;
}

.content a {
  color: #0a1010;
  text-decoration: underline;
  font-family: courier;
  letter-spacing: 1px;
}

.content a:hover {
  color: lightslategrey;
}

table, th, td {
  border: 30px solid whitesmoke;
  border-collapse: collapse;
  padding-top: 45px;
  padding-bottom: 25px;
  padding-left: 45px;
  padding-right: 45px;
}

th, td {
  background-color: #0a1010;
  text-align: center;
}

tr:hover, td:hover {
  background-color: #333333;
}


/* PHOTO CONTENT */


.photo {
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 60px;
  padding-left: 20px;
  max-width: 950px;
  background-color: #0a1010;
}


.photo h1 {
  font: italic 12px helvetica;
  color: whitesmoke;
  letter-spacing: 3px;
}

.photo p {
  font-family: courier new;
  line-height: 32px;
  color: #0a1010;
  letter-spacing: 1px;
}


