body {
  margin: 25%;
  margin-top: 10%;
  background-color: #e4e2da;
}

@media screen and (max-width: 700px) {

body {
  margin: 12%;
  margin-top: 25%;
  }

  div.about {
    width: 100%;
  }

    .about p {
    font-size: 14px;
  }

}

/* HOME */

div.home {
  width: 90%;
  text-align: center;
}

  .home h1 {
    font-family: "coordinates-variable",sans-serif;
    font-variation-settings: 'wght' 500;
    color: #313e45;
    font-size: calc(28px + 0.95vw);
  }

  .home a {
    font-family: "coordinates-variable",sans-serif;
    font-variation-settings: 'wght' 500;
    color: #313e45;
    font-size: calc(14px + 0.95vw);
    line-height: 120%;
  }

 /* ABOUT */

  div.about {
    width: 70%;
  }

  .about h1  {
    font-family: "coordinates-variable",sans-serif;
    font-variation-settings: 'wght' 500;
    text-align: center;
    color: #313e45;
  }

  .about p {
    font-family: "coordinates-variable",sans-serif;
    font-variation-settings: 'wght' 300;
    text-align: left;
    color: #313e45;
  }


/* Photos */
div.photo {
  width: 100%;
}

.responsive {
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON HOME */

.btn-bot{
   position: fixed;
   bottom: 5%;
   right: 5%;
   margin-left:-50px;
   width:100px;
   background-color: #313e45;
   border: none;
   border-radius: 8px;
   color: #e4e2da;
   font-family: "coordinates-variable",sans-serif;
   font-variation-settings: 'wght' 500;
   text-align: center;
}
